[submodule "Morimens/images"]
	path = Morimens/images
	url = https://github.com/C-W-Z/STS2-Morimens-images.git
[submodule "Morimens/fmod"]
	path = Morimens/fmod
	url = https://github.com/C-W-Z/STS2-Morimens-fmod.git
